*{
    margin: 0;
    padding: 0;
    
}

.context {
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.area{
            background: #4e54c8;  
            background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
            width: 100%;
            height:100vh;
        }

        .circles {
            position: fixed;

            top: 1; 
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .circles li{
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;
        }

        .circles li:nth-child(1){
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }


        .circles li:nth-child(2){
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3){
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4){
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }
        .circles li:nth-child(5){
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6){
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7){
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8){
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9){
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10){
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }



        @keyframes animate {
        
            0%{
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 0;
            }

            80%{
                opacity: 1;
            }
        
            100%{
                transform: translateY(-100vh) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }
        
        }

body{
    background: #4e54c8; 
    padding: 30px;
}
.i{
    display: flex;
    text-align: center;
    text-align: left;
    border-radius: 8px;
   
    
    height: 200px;
    width: 100%;
    position:relative;
}
.i1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4e54c8;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}
.avatar{
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
.freeze-2{
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;

    margin-top: 25px;
    border-radius: 10px;
    width: 410px;
    height: 210px;
}
.name{
    user-select: none;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    color: aliceblue;
    line-height: 25px;
    position: absolute;
    left : 190px;
    
    
}
.about{
    user-select: none;
    font-size: 20px;
    
}
.dds{
    position: absolute;
    right: 0;
    height: 200px;
}

.i1 a{
    color: rgb(197, 15, 15);
}
.i1 i:hover{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch {
    -webkit-user-drag: none;
    user-select: none;
    max-width: 80px;
    max-height: 80px;
}

.tgd{
    margin: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #039be4;
    width: 500px;
    height: 150px;
    transition: 0.2s;
}
.dsd{
    user-select: none;
    margin: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5865F2;
    width: 500px;
    height: 150px;
    transition: 0.2s;
}


.ttd{
    user-select: none;
    margin: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171a21;
    width: 500px;
    height: 150px;
    transition: 0.2s;
}

.sptd{
    user-select: none;
    margin: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#1DB954;
    width: 500px;
    height: 150px;
    transition: 0.2s;
}


.ytd:hover{
    box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.5);
}
.tgd:hover{
    box-shadow: 0px 0px 10px 2px rgba(3,155,228,0.5);
}
.dsd:hover{
    box-shadow: 0px 0px 10px 2px rgba(88, 101, 242,0.5);
}
.instd:hover{
    box-shadow: 0px 0px 10px 2px rgba(131, 58, 180,0.5);
}
.ttd:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0,0.5);
}
.twitd:hover{
    box-shadow: 0px 0px 10px 2px rgba(29, 161, 242,0.5);
}
.sptd:hover{
    box-shadow: 0px 0px 10px 2px rgba(30, 215, 96,0.5);
}
.gitd:hover{
    box-shadow: 0px 0px 10px 2px rgba(51,51,51, 0.5);
}
.twchd:hover{
    box-shadow: 0px 0px 10px 2px rgba(100, 65, 164,0.5);
}

.i2{
    margin-top: 30px;
    border-radius: 8px;
    
    width: 100%;
}
.text{
    margin-top: 8px;
    font-size: 20px;
    font-style: normal;
}
.text1{
    margin-top: 8px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-style: normal;
}


@media (max-width: 950px) {
    .ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch{
        margin: 6px;
    }
    .text{
        font-size: 12px;
    }
    .tittle{
        font-size: 22px;
    }
    .dsd, .tgd, .ytd, .instd, .ttd, .twitd, .sptd, .gitd, .twchd{
        width: 95%;
    }
    .i1{
        margin-top: 30px;
        display: table;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        
        height: 200px;
        width: 100%;
       
        grid-template-columns: repeat(3, 1fr);
    }
    .i{
        display: flex;
        text-align: center;
        text-align: left;
        border-radius: 8px;
  
        height: 200px;
        width: 100%;
        position:relative;
}
.dds{
    position: absolute;
    right: 0;
    width : 40%;
    max-width : 100%;
}
.name {
    position: absolute;
    left: 190px;
    top: 0px;
}
}

@media (max-width: 800px) {
    .i {
        display: table;
        text-align: center;
        text-align: left;
        border-radius: 8px;
        
        height: 400px;
        width: 100%;
    }


    .dds {
        position: absolute;
        top: 200px;
        left: 10px;
        width: 370px;
    }
}
@media (max-width: 525px) {

    .about{
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }
    .name{
        margin-left: auto;
        margin-right: auto;
        top: 140px;
        left: auto;
        text-align: center;
    }
    .dds {
        top: 340px;
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
    }
    .avatar {
        margin-left: auto;
        margin-right: auto;
        
    }
.freeze-2 {
        margin-left: auto;
        margin-right: auto;
        
    }

    .ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch{
        margin: 10px;
    }
    .text{
        font-size: 14px;
    }
    .tittle{
        font-size: 23px;
    }
    .i1{
        margin-top: 30px;
        display: table;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
       
        height: 200px;
        width: 100%;
       
        grid-template-columns: repeat(3, 1fr);
    }
    .i{
        display: flex;
        justify-content: center;
        text-align: left;
        border-radius: 8px;
      
        height: 550px;
        width: 100%;
    }
    .dsd, .tgd, .ytd, .instd, .ttd, .twitd, .sptd, .gitd, .twchd{
        width: 90%;
    }

}
@media (max-width: 450px) {

    .ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch{
        max-width: 70px;
        max-height: 70px;
    }
    .ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch{
        margin: 6px;
    }
    .text{
        font-size: 10px;
    }
    .tittle{
        font-size: 15px;
    }
}
@media (max-width: 320px) {
    .about{
        font-size: 13px;
    }
    .avatar{
        margin-left: 20px;
        margin-top: 65px;
        border-radius: 100px;


    }
    .name{
        font-size: 25px;
        margin-top: 35px;
        margin-left: 20px;
    }
    .ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch{
    max-width: 60px;
    max-height: 60px;
    }
    .ds, .tg, .yt, .inst, .tt, .twit, .spt, .git, .twch{
        margin: 6px;
    }
    .text{
        font-size: 8px;
    }
    .tittle{
        font-size: 12px;
    }
}
.hidden-menu {
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #f3f1f1;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    color: #fff;
}
  
.hidden-menu input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  
.hidden-menu label {
    position: relative;
    display: block;
   
    line-height: 3;
    cursor: pointer;
    text-shadow: 0 1px 0 #333131;
    font-size: 17px;
}

.hidden-menu-content {
    max-height: 0;
    overflow: hidden;
    background: #050707;
    transition: max-height .20s;
    font-size: 14px;
    color: #fffdfd;
    text-shadow: 0 1px 0 #292727;
}
  
.hidden-menu-content {
   
    transition: 0.20s;
}
.hidden-menu-content p {
    margin: 1em;
}
.hidden-menu input:checked ~ .hidden-menu-content {
    max-height: 100vh;
}
#hidden-menu-one ~ label img {
    transition: 0.2s;
}
#hidden-menu-one:checked ~ label img {
    transform: rotate(180deg);
    transition: 0.2s;
}

.arrow{
    -webkit-user-drag: none;
    margin-top: 15px;
    height: 32px;
    width: 60px;
}
.slist{
    margin-top: 16px;
    margin-bottom: 30px;
}
.slist a{
    margin: 0 14px 0 5px;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    font-size: 27px;
}
.alist a{
    margin: 0 14px 0 5px;
    color: #fff;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    justify-content: center;
    
}
.slist button{
    margin: 0 14px 0 5px;
    background: none;
    border: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 27px;
}
.slist i,a:hover{
    color: rgb(211, 211, 211);
}
.slist i,button:hover{
    color: rgb(211, 211, 211);
}
.fa-nometa{
    font-size: 25px;
}
.fa-nohello{
    font-size: 25px;
}

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
  }
  
  .lightrope li {
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.66667px 24px 3px #00f7a5;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .lightrope li:nth-child(2n+1) {
    background: #FFFFFF;
    box-shadow: 0px 4.66667px 24px 3px rgba(208, 208, 208, 0.5);
    -webkit-animation-name: flash-2;
    animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
  }
  
  .lightrope li:nth-child(4n+2) {
    background: #FF0000;
    box-shadow: 0px 4.66667px 24px 3px #FF0000;
    -webkit-animation-name: flash-3;
    animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
  }
  
  .lightrope li:nth-child(odd) {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
  }
  
  .lightrope li:nth-child(3n+1) {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
  }
  
  .lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.33333px;
    border-radius: 3px;
    top: -4.66667px;
    left: 1px;
  }
  
  .lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.66667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
  }
  
  .lightrope li:last-child:after {
    content: none;
  }
  
  .lightrope li:first-child {
    margin-left: -40px;
  }
  
  @-webkit-keyframes flash-1 {
    0%, 100% {
      background: #FF0000;
      box-shadow: 0px 4.66667px 24px 3px #FF0000;
    }
    50% {
      background: rgba(219, 0, 0, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(219, 0, 0, 0.2);
    }
  }
  
  @keyframes flash-1 {
    0%, 100% {
      background: #FF0000;
      box-shadow: 0px 4.66667px 24px 3px #FF0000;
    }
    50% {
      background: rgba(219, 0, 0, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(219, 0, 0, 0.2);
    }
  }
  
  @-webkit-keyframes flash-2 {
    0%, 100% {
      background: #FFFFFF;
      box-shadow: 0px 4.66667px 24px 3px #FFFFFF;
    }
    50% {
      background: rgba(208, 208, 208, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(208, 208, 208, 0.2);
    }
  }
  
  @keyframes flash-2 {
    0%, 100% {
      background: #FFFFFF;
      box-shadow: 0px 4.66667px 24px 3px #FFFFFF;
    }
    50% {
      background: rgba(208, 208, 208, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(208, 208, 208, 0.2);
    }
  }
  
  @-webkit-keyframes flash-3 {
    0%, 100% {
      background: #FF0000;
      box-shadow: 0px 4.66667px 24px 3px #FF0000;
    }
    50% {
      background: rgba(219, 0, 0, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(219, 0, 0, 0.2);
    }
  }
  
  @keyframes flash-3 {
    0%, 100% {
      background: #FF0000;
      box-shadow: 0px 4.66667px 24px 3px #FF0000;
    }
    50% {
      background: rgba(219, 0, 0, 0.4);
      box-shadow: 0px 4.66667px 24px 3px rgba(219, 0, 0, 0.2);
    }
  }
